<div class="row">
  <div class="large-6 columns panel">
  <fieldset>
    <legend>Login</legend>
    <%= render "user_sessions/form" %>
  </fieldset>
  </div>

<div class="large-6 columns panel">
  <fieldset>
    <legend>Sign Up</legend>
    <%= render "users/form" %>
  </fieldset>
</div>
</div>
